/*iPhone SE*/
@media ((width: 375px) and (height: 667px)) {
  .container > time {
    font-size: 5.5rem;
  }

  form #search {
    width: 20.9rem;
    position: relative;
    left: 5%;
  }

  form #search label input[type="text"] {
    width: 19rem;
    height: 3rem;
    font-size: 1.33rem;
    padding-left: 0.3rem;
  }

  form #search button[type="submit"] {
    width: 1.9rem;
    height: 3rem;
    font-size: 1.33rem;
  }

  form #chooseMethod {
    font-size: 1.5rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 18rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 21rem;
    height: 11.5rem;
    gap: 2rem;
  }

  .shortcuts a {
    font-size: 1rem;
  }

  .shortcuts a button {
    width: 3rem;
    height: 3rem;
  }

  .shortcuts #shopee {
    background-size: 3rem;
  }
}

/*iPhone XR*/
@media ((width: 414px) and (height: 896px)) {
  .container > time {
    font-size: 7rem;
  }

  form #search {
    width: 24.2rem;
    position: relative;
    left: 3%;
  }

  form #search label input[type="text"] {
    width: 22rem;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 0.4rem;
  }

  form #search button[type="submit"] {
    width: 2.2rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  form #chooseMethod {
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 22rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 22rem;
    height: 12.5rem;
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    grid-template-areas:
      "youtube" "linkedin"
      "friv" "shopee";
    transform: translateY(25%);
    gap: 5rem;
  }

  .shortcuts a {
    font-size: 1.5rem;
  }

  .shortcuts a button {
    width: 3.5rem;
    height: 3.5rem;
  }

  .shortcuts #youtube {
    grid-area: youtube;
  }

  .shortcuts #linkedin {
    grid-area: linkedin;
  }

  .shortcuts #friv {
    grid-area: friv;
  }

  .shortcuts #shopee {
    grid-area: shopee;
  }
}
/*iPhone 12 Pro*/
@media ((width: 390px) and (height: 844px)) {
  .container > time {
    font-size: 7rem;
  }

  form #search {
    width: 24.2rem;
    position: relative;
    left: 0.5%;
  }

  form #search label input[type="text"] {
    width: 22rem;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 0.4rem;
  }

  form #search button[type="submit"] {
    width: 2.2rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  form #chooseMethod {
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 22rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 22rem;
    height: 12.5rem;
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    grid-template-areas:
      "youtube" "linkedin"
      "friv" "shopee";
    transform: translateY(25%);
    gap: 4.5rem;
  }

  .shortcuts a {
    font-size: 1.5rem;
  }

  .shortcuts a button {
    width: 3.5rem;
    height: 3.5rem;
  }

  .shortcuts #youtube {
    grid-area: youtube;
  }

  .shortcuts #linkedin {
    grid-area: linkedin;
  }

  .shortcuts #friv {
    grid-area: friv;
  }

  .shortcuts #shopee {
    grid-area: shopee;
  }
}
/*Pixel 5*/
@media ((width: 393px) and (height: 851px)) {
  .container > time {
    font-size: 7rem;
  }

  form #search {
    width: 24.2rem;
    position: relative;
    left: 0.5%;
  }

  form #search label input[type="text"] {
    width: 22rem;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 0.4rem;
  }

  form #search button[type="submit"] {
    width: 2.2rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  form #chooseMethod {
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 22rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 22rem;
    height: 12.5rem;
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    grid-template-areas:
      "youtube" "linkedin"
      "friv" "shopee";
    transform: translateY(25%);
    gap: 4.25rem;
  }

  .shortcuts a {
    font-size: 1.5rem;
  }

  .shortcuts a button {
    width: 3.5rem;
    height: 3.5rem;
  }

  .shortcuts #youtube {
    grid-area: youtube;
  }

  .shortcuts #linkedin {
    grid-area: linkedin;
  }

  .shortcuts #friv {
    grid-area: friv;
  }

  .shortcuts #shopee {
    grid-area: shopee;
  }
}
/*Samsung Galaxy S8+*/
@media ((width: 360px) and (height: 740px)) {
  .container > time {
    font-size: 6.25rem;
  }

  form #search {
    width: 20.9rem;
    position: relative;
    left: 5%;
  }

  form #search label input[type="text"] {
    width: 19rem;
    height: 3rem;
    font-size: 1.33rem;
    padding-left: 0.3rem;
  }

  form #search button[type="submit"] {
    width: 1.9rem;
    height: 3rem;
    font-size: 1.33rem;
  }

  form #chooseMethod {
    font-size: 1.5rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 18rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 21rem;
    height: 11.5rem;
    gap: 4rem;
  }

  .shortcuts a {
    font-size: 1.5rem;
  }

  .shortcuts a button {
    width: 3.25rem;
    height: 3.25rem;
  }

  .shortcuts #shopee {
    background-size: 3rem;
  }
}
/*Samsung Galaxy S20 Ultra*/
@media ((width: 412px) and (height: 915px)) {
  .container > time {
    font-size: 8rem;
  }

  form #search {
    width: 24.2rem;
    position: relative;
    left: 3%;
  }

  form #search label input[type="text"] {
    width: 22rem;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 0.4rem;
  }

  form #search button[type="submit"] {
    width: 2.2rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  form #chooseMethod {
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 22rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 22rem;
    height: 12.5rem;
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    grid-template-areas:
      "youtube" "linkedin"
      "friv" "shopee";
    transform: translateY(25%);
    gap: 5.5rem;
  }

  .shortcuts a {
    font-size: 1.75rem;
  }

  .shortcuts a button {
    width: 3.75rem;
    height: 3.75rem;
  }

  .shortcuts #youtube {
    grid-area: youtube;
  }

  .shortcuts #linkedin {
    grid-area: linkedin;
  }

  .shortcuts #friv {
    grid-area: friv;
  }

  .shortcuts #shopee {
    grid-area: shopee;
  }
}
/*Surface Pro 7*/
@media ((width: 912px) and (height: 1368px)) {
  .container > time {
    font-size: 10rem;
  }

  form #search {
    position: relative;
    left: 3.5%;
    width: 49.5rem;
    height: 7rem;
  }

  form #search label input[type="text"] {
    width: 45rem;
    height: 7rem;
    font-size: 3rem;
    padding-left: 0.3rem;
  }

  form #search button[type="submit"] {
    width: 4.5rem;
    height: 5rem;
    font-size: 3rem;
  }

  form #chooseMethod {
    font-size: 2.8rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2.5rem;
    height: 2.5rem;
  }

  hr {
    width: 50rem;
    border-width: 3px;
  }

  .shortcuts {
    width: 26rem;
    height: 16.5rem;
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    grid-template-areas:
      "youtube" "linkedin"
      "friv" "shopee";
    transform: translateY(25%);
    gap: 10rem;
  }

  .shortcuts a {
    font-size: 2.5rem;
  }

  .shortcuts a button {
    width: 5rem;
    height: 5rem;
  }

  .shortcuts #youtube {
    grid-area: youtube;
  }

  .shortcuts #linkedin {
    grid-area: linkedin;
  }

  .shortcuts #friv {
    grid-area: friv;
  }

  .shortcuts #shopee {
    grid-area: shopee;
  }
}
/*Samsung Galaxy A51/71*/
@media ((width: 412px) and (height: 914px)) {
  .container > time {
    font-size: 8rem;
  }

  form #search {
    width: 24.2rem;
    position: relative;
    left: 3%;
  }

  form #search label input[type="text"] {
    width: 22rem;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 0.4rem;
  }

  form #search button[type="submit"] {
    width: 2.2rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  form #chooseMethod {
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 22rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 22rem;
    height: 12.5rem;
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    grid-template-areas:
      "youtube" "linkedin"
      "friv" "shopee";
    transform: translateY(25%);
    gap: 5.5rem;
  }

  .shortcuts a {
    font-size: 1.75rem;
  }

  .shortcuts a button {
    width: 3.75rem;
    height: 3.75rem;
  }

  .shortcuts #youtube {
    grid-area: youtube;
  }

  .shortcuts #linkedin {
    grid-area: linkedin;
  }

  .shortcuts #friv {
    grid-area: friv;
  }

  .shortcuts #shopee {
    grid-area: shopee;
  }
}
/*iPhone 6/7/8 Plus*/
@media ((width: 414px) and (height: 736px)) {
  .container > time {
    font-size: 7rem;
  }

  form #search {
    width: 24.2rem;
    position: relative;
    left: 3%;
  }

  form #search label input[type="text"] {
    width: 22rem;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 0.4rem;
  }

  form #search button[type="submit"] {
    width: 2.2rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  form #chooseMethod {
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 22rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 21rem;
    height: 11.5rem;
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    grid-template-areas:
      "youtube" "linkedin"
      "friv" "shopee";
    transform: translateY(25%);
    gap: 3.5rem;
  }

  .shortcuts a {
    font-size: 1.5rem;
  }

  .shortcuts a button {
    width: 3.5rem;
    height: 3.5rem;
  }

  .shortcuts #youtube {
    grid-area: youtube;
  }

  .shortcuts #linkedin {
    grid-area: linkedin;
  }

  .shortcuts #friv {
    grid-area: friv;
  }

  .shortcuts #shopee {
    grid-area: shopee;
  }
}
/*iPhone X*/
@media ((width: 375px) and (height: 812px)) {
  .container > time {
    font-size: 7rem;
  }

  form #search {
    width: 23.1rem;
    position: relative;
    left: 0.5%;
  }

  form #search label input[type="text"] {
    width: 21rem;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 0.4rem;
  }

  form #search button[type="submit"] {
    width: 2.1rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  form #chooseMethod {
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 22rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 22rem;
    height: 12.5rem;
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    grid-template-areas:
      "youtube" "linkedin"
      "friv" "shopee";
    transform: translateY(25%);
    gap: 4.5rem;
  }

  .shortcuts a {
    font-size: 1.5rem;
  }

  .shortcuts a button {
    width: 3.5rem;
    height: 3.5rem;
  }

  .shortcuts #youtube {
    grid-area: youtube;
  }

  .shortcuts #linkedin {
    grid-area: linkedin;
  }

  .shortcuts #friv {
    grid-area: friv;
  }

  .shortcuts #shopee {
    grid-area: shopee;
    background-size: 3rem;
  }
}
/*Facebook for Android v407 on Pixel 6*/
@media ((width: 412px) and (height: 892px)) {
  .container > time {
    font-size: 7rem;
  }

  form #search {
    width: 24.2rem;
    position: relative;
    left: 3%;
  }

  form #search label input[type="text"] {
    width: 22rem;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 0.4rem;
  }

  form #search button[type="submit"] {
    width: 2.2rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  form #chooseMethod {
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  form #chooseMethod p {
    flex-basis: 100%;
    padding-right: 0;
    padding-left: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 2rem;
    height: 2rem;
  }

  hr {
    width: 22rem;
    border-width: 0.225rem;
  }

  .shortcuts {
    width: 22rem;
    height: 12.5rem;
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    grid-template-areas:
      "youtube" "linkedin"
      "friv" "shopee";
    transform: translateY(25%);
    gap: 5rem;
  }

  .shortcuts a {
    font-size: 1.5rem;
  }

  .shortcuts a button {
    width: 3.5rem;
    height: 3.5rem;
  }

  .shortcuts #youtube {
    grid-area: youtube;
  }

  .shortcuts #linkedin {
    grid-area: linkedin;
  }

  .shortcuts #friv {
    grid-area: friv;
  }

  .shortcuts #shopee {
    grid-area: shopee;
  }
}
