/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/DSC00034.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff60;
  background-image: linear-gradient(180deg, #ffffff60 50%, #ffffffd0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container > time {
  color: #0f0500;
  font-size: 5.625rem;
  font-weight: 100;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}

form #search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 3.125rem;
  width: 60%; /* Ajuste para responsividade */
  max-width: 50rem; /* Máximo para telas grandes */
}

form #search label input[type="text"] {
  width: 100%;
  height: 3.75rem;
  font-size: 2.5rem;
  border: none;
  border-radius: 3.125rem 0 0 3.125rem;
  padding-left: 1.875rem;
}

form #search label input[type="text"]:focus {
  outline: none;
}

form #search button[type="submit"] {
  width: 4.375rem;
  height: 3.75rem;
  font-size: 2.5rem;
  border: none;
  border-radius: 0 3.125rem 3.125rem 0;
  background-color: #fff;
  cursor: pointer;
}

form #chooseMethod {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-size: 2.1875rem;
  flex-wrap: wrap; /* Para telas menores */
}

form p {
  font-size: 2.1875rem;
  flex-basis: 100%; /* Para telas menores */
  text-align: center; /* Para telas menores */
}

form #chooseMethod input[type="radio"] {
  width: 2rem;
  height: 2rem;
  accent-color: #0042f8;
}

form #chooseMethod input[type="radio"] + label {
  margin-right: 1rem;
}

hr {
  border: 2px solid #0042f86b;
  width: 80%; /* Ajuste para responsividade */
  max-width: 90rem; /* Máximo para telas grandes */
  margin-top: 0.25rem;
}

.shortcuts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%; /* Ajuste para responsividade */
  max-width: 27rem; /* Máximo para telas grandes */
  gap: 1.5625rem;
  flex-wrap: wrap; /* Para telas menores */
  margin-top: 0.5rem;
}

.shortcuts #youtube {
  background-image: url("../img/youtube.png");
  background-size: 8rem;
}

.shortcuts #linkedin {
  background-image: url("../img/linkedin.png");
  background-size: 6rem;
}

.shortcuts #friv {
  background-image: url("../img/friv.png");
  background-size: 5.375rem;
}

.shortcuts #shopee {
  background-image: url("../img/shopee.png");
  background-size: 4rem;
}

.shortcuts #github {
  background-image: url("../img/github.png");
  background-size: 4rem;
}

.shortcuts a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  text-decoration: none;
}

.shortcuts a button {
  background-position: center;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
  width: 4rem;
  height: 4rem;
  border: none;
  cursor: pointer;
}

.shortcuts a button span {
  text-align: center;
}

/* Media Queries */

@media (min-width: 2560px) {
  .container time {
    font-size: 12rem;
  }

  form #search {
    width: 50rem;
    border-radius: 4em;
    height: 5em;
    background-color: #fff;
  }

  form #search label input:is([type="text"], [type="submit"]) {
    font-size: 3.25rem;
  }

  form #search label input[type="text"] {
    border-radius: 4em 0 0 4em;
    width: 45rem;
    height: 5rem;
    padding-left: 4rem;
    max-width: 50rem;
  }

  form #search label input[type="submit"] {
    border-radius: 0 4em 4em 0;
    width: 5rem;
    height: 5rem;
  }

  form :is(#chooseMethod, p) {
    font-size: 4rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 4rem;
    height: 4rem;
  }

  form #chooseMethod input[type="radio"] + label {
    margin-right: 3rem;
  }

  hr {
    border-width: 4px;
    margin-bottom: 2rem;
  }

  .shortcuts a button {
    width: 8rem;
    height: 8rem;
  }

  .shortcuts #youtube {
    background-size: 14rem;
  }

  .shortcuts #linkedin {
    background-size: 10rem;
  }

  .shortcuts #friv {
    background-size: 8rem;
  }

  .shortcuts #shopee {
    background-size: 8rem;
  }

  .shortcuts #github {
    background-size: 7.875rem;
  }

  .shortcuts a span {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .container > time {
    font-size: 4.5rem;
  }

  form #search {
    width: 50%;
  }

  form #search label input[type="text"] {
    height: 2.5rem;
    font-size: 1.25rem;
    padding-left: 0.7rem;
  }

  form #search button[type="submit"] {
    height: 2.5rem;
    font-size: 1.25rem;
  }

  form #chooseMethod,
  form p {
    font-size: 1.5rem;
  }

  hr {
    width: 90%;
  }

  .shortcuts {
    width: 95%;
  }

  .shortcuts a button {
    width: 3.75rem;
    height: 3.75rem;
  }
}

@media (max-width: 425px) {
  html,
  body {
    background-position: right;
  }

  .container > time {
    font-size: 3.75rem;
  }

  form #search {
    width: 40%;
  }

  form #search label input[type="text"] {
    height: 2rem;
    font-size: 0.75rem;
    padding-left: 0.6rem;
  }

  form #search button[type="submit"] {
    height: 2rem;
    font-size: 0.75rem;
  }

  form #chooseMethod,
  form p {
    font-size: 1.1rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 1rem;
    height: 1rem;
  }

  hr {
    width: 95%;
  }

  .shortcuts {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ajuste para grid responsivo */
    gap: 1rem;
  }

  .shortcuts a {
    font-size: 0.8rem;
  }

  .shortcuts a button {
    width: 3rem;
    height: 3rem;
  }

  .shortcuts #youtube {
    background-size: 7rem;
  }

  .shortcuts #linkedin {
    background-size: 5rem;
  }

  .shortcuts #friv {
    background-size: 4rem;
  }

  .shortcuts #shopee {
    background-size: 3rem;
  }
}

@media (max-width: 375px) {
  .container > time {
    font-size: 3rem;
  }

  form #search label input[type="text"] {
    height: 1.75rem;
    font-size: 0.4rem;
    padding-left: 0.4rem;
  }

  form #search button[type="submit"] {
    height: 1.75rem;
    font-size: 0.4rem;
  }

  form #chooseMethod,
  form p {
    font-size: 0.8rem;
  }

  form #chooseMethod input[type="radio"] {
    width: 0.5rem;
    height: 0.5rem;
  }

  hr {
    width: 95%;
  }

  .shortcuts {
    grid-template-columns: repeat(2, 1fr); /* Ajuste para grid responsivo */
    gap: 0.5rem;
  }

  .shortcuts a {
    font-size: 0.7rem;
  }

  .shortcuts a button {
    width: 2.5rem;
    height: 2.5rem;
  }

  .shortcuts #youtube {
    background-size: 6rem;
  }

  .shortcuts #linkedin {
    background-size: 4rem;
  }

  .shortcuts #friv {
    background-size: 3rem;
  }

  .shortcuts #shopee {
    background-size: 2rem;
  }

  .shortcuts #github {
    background-size: 3rem;
  }
}
